# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

#Pages
TestTurso.astro
MenuDropdown.astro


#Components
Navbar.jsx
Logout.jsx
Headerbutton.jsx
User.jsx
enviar-email.ts
BlurHashImages.tsx
ImageLoader.tsx
initMobileMenu.ts
SessionManager.astro

#Scripts
inituserdropdown.js
navbar.js
observer.js

#Utilities
encodeImageToBlurhash.ts
ai.js

#Apis
sendMail-Respaldo.js
generate-blurhash.ts

#db
config.ts
seed.ts
turso.ts
checktables.ts

#Src
Pruebas
theme.ts
prisma

#txts
definiciones.txt
guardarcodigo.txt

#tours
.tours

#data\layout
links.ts



.vercel



# Local Netlify folder
.netlify
