---
import Layout from "@/layouts/Layout.astro";
import FormReact from "@/components/FormReact"
// const values = import.meta.env.USER_GMAIL //para pasar env con astro
// const values2 = import.meta.env.PASS_APP_GMAIL //para pasar env con astro


---


<Layout title="Servicios Genius Bar Formulario">
    <!-- <div class="flex flex-col gap-8 items-center text-white font-bold">
        <h1 class="text-2xl font-bold py-4">Formulario de Servicio Tecnico Clientes</h1>
    </div> -->
    <div class="flex flex-col gap-8 ">
    <FormReact  client:load>
    </FormReact>
    </div>
</Layout>