---
import Layout from "../layouts/Layout.astro";

const seoData = {
    title: "404 Not Found - onthepointservice",
    description: "Pagina no encontrada. Si crees que esto es un error, por favor contacta al soporte.",
    keywords: "404, error, pagina no encontrada, onthepointservice Servicio Tecnico, servicio técnico iphone",
    image: "https://i.imgur.com/DGwX45I.png?format=webp",
    url: "https://onthepointservice.com/404",

}

---



<Layout {...seoData}>
 
    <div class="page-container">
      <!-- <Matrix /> -->
      <div class="video-background">
        <img class="iframe" src="https://midu.dev/images/this-is-fine-404.gif" alt="Error image gif">

      </div>
      <div class="content">
        <h1 class="font-sans font-bold">404</h1>
        <p class="text-lg font-apple">Página no encontrada</p>
        <a href="/" class="text-lg text-balance font-apple">Volver al Inicio</a>
      </div>
    </div>
  
</Layout>


