---
import Layout from "@/layouts/Layout.astro";
import MapPosition from "@/components/PositionMap";

const seoData = {
  title: "Ubicación - OnThePointService Servicio Tecnico",
  description: "Encuentra nuestra ubicación en Buenos Aires. Expertos en reparación de iPhone y dispositivos Android.",
  keywords: "ubicación Genius Bar, reparacion iPhone Buenos Aires, servicio tecnico en Argentina",
  image: "https://i.imgur.com/oxpU3fM.png?format=webp",
  url: "https://onthepointservice.com/positionmap"
}

const mapCenter = [-58.3816, -34.6037]; // Buenos Aires [lng, lat]
const mapZoom = 15; // Nivel de zoom del mapa
const markerCoordinates = [-58.37490623783136, -34.601575689879155]; // Coordenadas del marcador de la tienda
const markerPopupContent = '<h3>ONTHEPOINTSERVICE Tecnico</h3><p>Servicio técnico especializado</p>';


---


<Layout {...seoData}>
    <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-6">Nuestra Ubicación</h1>
    <MapPosition
    center={mapCenter}
    zoom={mapZoom}
    markerCoords={markerCoordinates}
    popupContent={markerPopupContent}
    client:load
    />
  </div>
  

</Layout>