---
import Layout from '@/./layouts/Layout.astro'
// import ParallaxServices from  '@/components/parallaxServices'
import ParallaxServicesGSAP from '@/components/parallaxServicesGSAP'

const seoData = {
  title: "Servicios Detallados 游님 OnthePointService",
  description: "Servicio t칠cnico especializado en dispositivos Apple/Android. Ofrecemos reparaci칩n de pantallas, bater칤as, placas l칩gicas y m치s.",
  keywords: "iniciar sesi칩n, login OnthePointService, acceder cuenta servicio t칠cnico Apple, seguimiento de reparaciones, OnthePointService Argentina",
  image: "https://i.imgur.com/xYGD6SF.jpg?format=webp",
  url:"https://onthepointservice.com/servicedescription"
}

const detailServices = [
    {
        title: 'Cambio de Pantallas',
        description: 'Nuestro servicio de cambio de pantallas se enfoca en el reemplazo de pantallas da침adas o rotas para restaurar la funcionalidad y la est칠tica del dispositivo.',
        image: 'https://i.imgur.com/maICruG.png'
    },
    {
        title: 'Cambio de Baterias',
        description: 'Con nuestro servicio de cambio de baterias, podr치s sustituir las bater칤as agotadas o falladas en tu equipo celular, tablet o pc portatil, lo que aumenta su duraci칩n de vida y su desempe침o.',
        image: 'https://i.imgur.com/RGIN6yq.png'
    },
    {
        title: 'Cambio de Carcazas',
        description: 'Nuestro servicio de cambio de carcasa completa te permite reemplazar la carcasa da침ada o deteriorada de tu celular y darle un aspecto nuevo y fresco.',
        image: 'https://i.imgur.com/oU5Yi8f.png'
    },
    {
        title: 'Cambio de Pines de Carga',
        description: 'Si el puerto de carga de tu celular est치 defectuoso, nuestro servicio de cambio de pines de carga te permitir치 reemplazar los soldadura que est치n fallando para restaurar la funcionalidad del dispositivo.',
        image: 'https://i.imgur.com/Rzly3iL.png'
    },
    {
        title: 'Reparacion con Microsoldaduras',
        description: 'Nuestra oferta de reparaci칩n con microsoldaduras se enfoca en la reparaci칩n de placas, ICs de carga y ICs de t치ctiles utilizando t칠cnicas de micro soldadura especializadas. Esto incluye la reparaci칩n de placas da침adas o rotas, los problemas de conexi칩n de los ICs y los problemas relacionados con los pines de carga, entre otras.',
        image: 'https://i.imgur.com/GpHQn3C.png'
    },
    {
        title: 'Reparaciones Multimarcas',
        description: 'Nuestra oferta de reparaciones multimarcas se enfoca en la reparaci칩n de diferentes marcas de celulares, incluidos iPhone, Android y BlackBerry. Con nuestro servicio podr치s restaurar el funcionamiento de tu dispositivo y asegurarte de que pueda ser utilizado nuevamente sin problemas.',
        image: 'https://i.imgur.com/mAxgfP1.png'
    }
]

---

<Layout {...seoData}>
 <ParallaxServicesGSAP services={detailServices}client:load />


 
 <section class="bg-sky-700 text-white py-16 mt-4">
    <div id="experthelp" class="container mx-auto px-6 text-center">
      <h2 class="text-3xl font-bold mb-4">쯃isto para reparar tu dispositivo?</h2>
      <p class="text-xl mb-8">Cont치ctanos hoy mismo para obtener un diagn칩stico gratuito</p>
      <a
        href="/formservice"
        class="btn-custom-hero"
      >
        Solicitar Servicio
      </a>
    </div>


  </section>
  
</Layout>

<script>

    document.addEventListener('astro:page-load', () => {
        //Scroll Automatico a la primera seccion
        const firstMainSection = document.querySelector('#first-parallax-service-item');
        if(firstMainSection) {
            firstMainSection.scrollIntoView({
                behavior: 'smooth',
                block: 'start',
            });
        }
        
    })

    document.getElementById('experthelp')?.addEventListener('click', function(e) {
        e.preventDefault();
        window.history.pushState({}, '', '/expert-help');
        window.location.href = '/formservice';
        
    })
</script>

<style>
    .perspective-1000 {
        perspective: 1000px;
    }

    .parallax-services {
        position: relative;
        
        height: 100%;
        overflow: hidden;
        transform-style: preserve-3d;
    }
</style>