---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="OnthePointService Servicio Tecnico">

    <section class="bg-gradient-to-b from-blk-gray-dark via-blk-gray-dark to-blk-gray-light">
    
        <div class="container mx-auto md:h-screen w-7/12">
      
          <Image 
          src="https://i.imgur.com/3YQsqmO.jpg" 
          alt="Servicio Tecnico Celulares"
          width={1200}
          height={960}
          loading="eager"
          class="w-full h-96 object-cover rounded-t-lg">
      
          <div class="bg-gray-300 p-8 rounded-b-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Reparación de Celulares</h2>
      
            <p class="mb-4">
              Descripción del servicio...
            </p>
      
            <button class="bg-blue-500 text-white px-4 py-2 rounded-lg">
              Cotizar
            </button>
      
          </div>
      
        </div>
      
      </section>
</Layout>