---
import Layout from "@/layouts/Layout.astro";
import IcoAtom from "@/utilities/icons/icoAtom.astro";
import SignupFormReact from '@/components/signupFormReact';
const errorMessage = Astro.url.searchParams.get('message');

const seoData = {
  title: "Crear cuenta - Genius Bar Service",
  description: "Regístrate en Genius Bar Service para gestionar tus consultas de reparación y recibir atención personalizada.",
  keywords: "crear cuenta, registrarse Genius Bar, servicio técnico Apple, Genius Bar Argentina, registro de usuario",
  image: "https://i.imgur.com/Plv66zB.jpg?format=webp",
  url: "https://geniusbarserviciotecnico.com/signup",
}

---

<Layout {...seoData}>
    <section>
      <div
        class="flex flex-col items-center justify-center px-6 mx-auto lg:py-0"
      >
        <a
          href="/"
          class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
        >
        
          <IcoAtom wi="3rem" he="3rem"/>
          Genius Bar Accesos
        </a>
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
              class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-6"
            >
              Crea tu cuenta de usuario
            </h1>
            <SignupFormReact client:load errorMessage={errorMessage}/>
          </div>
        </div>
      </div>
    </section>
  </Layout>

 