---
const { href:link } = Astro.props
---

<a href={link} class="flex-row justify-center text-black hover:bg-black hover:text-white focus:ring-4 focus:outline-none focus:ring-esp/50  rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:text-white dark:focus:ring-esp/55 mr-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-90 scale-90 gap-x-2 opacity-90 hover:opacity-100 cursor-pointer text-base font-apple font-bold">
<slot name="before"/>
<slot>uknown</slot>
<slot name="after"/>
</a>