---
const { href:link } = Astro.props
---

<a href={link} class="flex-row justify-center text-white hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2  hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-90 scale-90 gap-x-2 opacity-90 hover:opacity-100 cursor-pointer">
<slot name="before"/>
<slot>uknown</slot>
<slot name="after"/>
</a>