---

interface Props {
  title: string;
  description: string;
  user?:{} | null;
  
}

const { title, user, description } = Astro.props;
---

<header class="py-8 px-4 mx-w-xl lg:py-2 lg:px-6">
  <div class="mx-auto mb-4 lg:mb-4 text-center">

    <h2 class="text-5xl light:text-mainbrand-dark dark:text-mainbrand-light tracking-tight font-apple font-bold">GENIUS FIX SERVICIO TECNICO</h2>
    
    <p
      class="lg:text-lg sm:text-xl light:text-mainbrand-dark dark:text-gray-400 font-apple"
    >
      {description}
    </p>
  </div>
</header>
